
html {
  background-color: cornsilk;
}

.app {
  display: flex;
  height: 500px;
  flex-direction: column;
}

.headings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.brush-selection {
  display: flex;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.paint {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
background-color:rgb(175, 148, 211);
}

.color-2 {
background-color: rgb(142, 142, 236);
}

.color-3 {
background-color: cadetblue;
}

.color-4 {
background-color: cornflowerblue;
}

.color-5 {
background-color: azure;
}
